<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block title %}Hexashop Ecommerce HTML CSS Template {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">


    <!-- Additional CSS Files -->
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/' %}">

    <link rel="stylesheet" href="{% static 'css/' %}">

    <link rel="stylesheet" href="{% static 'css/' %}">

    <link rel="stylesheet" href="{% static 'css/' %}">
    
    -->
<!--



-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    {% block content %}{% endblock %}
    <!-- ***** Main Banner Area End ***** -->

    

    <!-- ***** Explore Area Starts ***** -->

    
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    
    

    
  </body>
</html>