{% extends "base.html" %}
{% load static %}
{% block title %}Hexashop - Entrega{% endblock %}

{% block content %}
<style>
    .quantity {
        display: flex;
        align-items: center;
    }
    
    input[type="number"] {
        width: 40px;
        text-align: center;
        margin: 0 5px;
        /* Ocultar as setas padrão do input[type="number"] */
        -moz-appearance: textfield;
        border: none;
    }
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    /* Estilizar os botões */
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    /* Estilo personalizado para o botão */
    .btn-custom {
        background-color: #fff; /* Fundo branco */
        color: #000; /* Letras pretas */
        border: 1px solid #000; /* Borda preta */
        transition: background-color 0.3s, color 0.3s; /* Transição suave ao passar o mouse */
    }
    
    .btn-custom:hover {
        background-color: #000; /* Fundo preto ao passar o mouse */
        color: #fff; /* Letras brancas ao passar o mouse */
    }
    
</style>


    <!-- ***** Main Banner Area Start ***** -->
    <!--
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <div class="row-fluid pb-3">
        <section class="section pt-5 mt-5">
            <div class="container pt-2">               
                {% if enderecos %}
                                                            
                    
                                    
                    <div class="row pt-2">
                        <form method="POST" action="/entrega/">
                            {% csrf_token %}                    
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Escolha o endereço de entrega:</label>
                                <select class="form-control w-75" name="escolhido" id="exampleFormControlSelect1">
                                    {% for endereco in enderecos %}
                                        
                                        {% if endereco.logradouro == escolhido %}
                                            <option value="{{ endereco.logradouro }}" selected>{{ endereco.logradouro }}</option>
                                        {% else %}
                                            <option value="{{ endereco.logradouro }}">{{ endereco.logradouro }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Calcular Frete</button>
                        </form>
                        {% if valor_frete %}
                            <div class="row pt-2">
                                <p>Total do Pedido: {{ total }}</p>
                                <p>Valor do Frete: {{ valor_frete }}</p>
                                <p>Total + Frete: {{ valor_com_frete }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="row pt-3 justify-content-between">
                        <a class="btn btn-dark" href="../order">Voltar</a>
                        {% if valor_frete %}
                            <a class="btn btn-success" href="#">Avançar</a>
                        {% else %}
                            <a class="btn btn-success disabled" href="#">Avançar</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="">
                        <a href="../enderecos" class="btn btn-dark">Cadastrar Endereço</a>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
                                
    
                                
                    

{% endblock content %}
    