{% extends "base.html" %}
{% load static %}
{% block title %}Django Ecommerce {% endblock %}

{% block content %}
<style>
    .quantity {
        display: flex;
        align-items: center;
    }
    
    input[type="number"] {
        width: 40px;
        text-align: center;
        margin: 0 5px;
        /* Ocultar as setas padrão do input[type="number"] */
        -moz-appearance: textfield;
        border: none;
    }
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    /* Estilizar os botões */
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    /* Estilo personalizado para o botão */
    .btn-custom {
        background-color: #fff; /* Fundo branco */
        color: #000; /* Letras pretas */
        border: 1px solid #000; /* Borda preta */
        transition: background-color 0.3s, color 0.3s; /* Transição suave ao passar o mouse */
    }
    
    .btn-custom:hover {
        background-color: #000; /* Fundo preto ao passar o mouse */
        color: #fff; /* Letras brancas ao passar o mouse */
    }
    
</style>


    <!-- ***** Main Banner Area Start ***** -->
    <!--
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <div class="row-fluid pb-3">
        <section class="section pt-5 mt-5">
            <div class="container pt-2">
                <div class="table-responsive">
                    <table class="table table-bordered mt-2">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col">Nome do Produto</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Subtotal</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for chave, valor in pedido.items %}
                                <tr id="linha{{ forloop.counter }}">
                                    <td class="text-center">{{ forloop.counter }}</td>
                                    <td>{{ valor.nome }}</td>
                                    <td>$<input type="number" class="input-text qty text" id="preco{{ forloop.counter }}" value="{{ valor.preco|floatformat:2 }}" pattern="" inputmode="" readonly style="width: 100px;" disabled></td>
                                    <td>
                                        <div class="quantity buttons_added">
                                            <input type="button" value="-" class="minus" onclick="decrement({{ forloop.counter }})">
                                            <input type="number" step="1" min="1" max="" name="quantity{{ forloop.counter }}" value="{{ valor.quantidade }}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" id="quantity{{ forloop.counter }}" onchange="updateTotal({{ forloop.counter }})" disabled>
                                            <input type="button" value="+" class="plus" onclick="increment({{ forloop.counter }})">
                                        </div>
                                    </td>
                                    <td>$<span id="subtotal{{ forloop.counter }}">{{ valor.subtotal|floatformat:2 }}</span></td>                                    
                                </tr>
                                <input type="hidden" name="num" value="{{ forloop.revcounter }}">
                            {% endfor %}                                
                        </tbody>
                    </table>
                </div>
                {% if valor_frete %}
                    <div class="row pt-2">


                    </div>
                {% endif %}
                <div class="row pt-2">
                    <form method="POST" action="/entrega/">
                        {% csrf_token %}                    
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Escolha o endereço de entrega:</label>
                            <select class="form-control w-75" id="exampleFormControlSelect1">
                                {% for endereco in enderecos %}
                                    <option>{{ endereco.logradouro }}</option>                        
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Calcular Frete</button>
                    </form>
                </div>
                <div class="row pt-3 justify-content-between">
                    <a class="btn btn-dark"href="#">Voltar</a>
                    {% if valor_frete %}
                        <a class="btn btn-success" href="#">Avançar</a>
                    {% else %}
                        <a class="btn btn-success disabled" href="#">Avançar</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
                                
    
                                
                    

{% endblock content %}
    