{% extends "base.html" %}
{% load static %}
{% block title %}Hexashop - Página de Login{% endblock %}
{% block content %}


    <!-- ***** Product Area Starts ***** -->
  <section class="section pt-5" >
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <!-- Conteúdo centralizado aqui -->
          {% if user.is_authenticated %}

            <h1>Seja bem vindo {{ user.username }}! </h1>
    
          {% else %}                 
            

            <h2 class="container">Login</h2>
            <div class="container"> 
                
                <form method="POST" action="{% url 'login' %}">
                  {% csrf_token %}

                  <div class='loginform'>
                    <label for='username'>Login: </lable> <input type='text' id='username' name='username' style="margin-left: 9px;">
                  </div>
                  <div class='loginform'>
                    <label for='password'>Senha: </label> <input type='password' id='password' name='password'>
                  </div class='loginform'>
                    <input type='submit' class="btn btn-dark" value='Logar'>
                </form>
              </div>
          {% endif %}
          
        </div>
      </div>
    </div>
  </section>

{% endblock %}   