{% extends "base.html" %}
{% load static %}
{% block title %}Django Ecommerce {% endblock %}

{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <!--
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Single Product Page</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <br><br><br>
    <div class="container mt-5">
        <div class="table-responsive">
            <h2>Itens do Pedido</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome do Produto</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                {% for chave, valor in pedido.items %}
                    <tr>
                        <td>{{ valor.nome }}</td>
                        <td>${{ valor.preco }}</td>
                        <td>{{ valor.quantidade }}</td>
                        <td>${{ valor.total }}</td>
                    </tr>
                {% endfor %}
                


                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
    