{% extends "base.html" %}
{% load static %}
{% block title %}Django Ecommerce {% endblock %}

{% block content %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>{{ categoria.category_name}}</h2>
                        <span>{{ categoria.category_breve }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in itens_paginados %}
                <div class="col-lg-4">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                    <li><a href="../avaliar/{{ item.product_id.id }}"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="../avaliar/{{ item.product_id.id }}"><i class="fa fa-star"></i></a></li>
                                    <li><a href="../single-product/{{ item.product_id.id }}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <img src="{{ item.product_id.product_image.url }}" alt="">
                        </div>
                        <div class="down-content">
                            <h4>{{ item.product_id.product_name }}</h4>
                            <span>{{ item.product_id.product_price|floatformat:2 }}</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-lg-12">
                    <div class="pagination">
                        
                            <ul>
                                <li>
                                    {% if itens_paginados.has_previous %}
                                        <a href="?page=1">&lt;&lt;</a>
                                        <a href="?page={{ itens_paginados.previous_page_number }}">&lt;</a>            
                                    {% else %}
                                        <a>&laquo;&laquo;</a>
                                        <a >&laquo;</a>
                                    {% endif %}

                                </li>
                                {% for page_num in itens_paginados.paginator.page_range %}    
                                <li class="{% if itens_paginados.number == page_num %}active{% endif %}">                                    
                                    <a href="?page={{ page_num }}">{{ page_num }}</a>                                    
                                </li>
                                {% endfor %}
                                <li>
                                    {% if itens_paginados.has_next %}
                                        <a href="?page={{ itens_paginados.next_page_number }}">&gt;</a>
                                        <a href="?page={{ itens_paginados.paginator.num_pages }}">&gt;&gt;</a>                                    
                                    {% else %}
                                        <a>&raquo;</a>
                                        <a >&raquo;&raquo;</a>
                                    {% endif %}
                                </li>                       
                            </ul>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </section>
  
    <!-- ***** Products Area Ends ***** -->
 {% endblock content %}