{% extends 'base.html' %}
{% load static %}
{% block title %}Avaliação{% endblock %}
{% block content %}
<style>
.quantity {
    display: flex;
    align-items: center;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    margin: 0 5px;
    /* Ocultar as setas padrão do input[type="number"] */
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilizar os botões */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo personalizado para o botão */
.btn-custom {
    background-color: #fff; /* Fundo branco */
    color: #000; /* Letras pretas */
    border: 1px solid #000; /* Borda preta */
    transition: background-color 0.3s, color 0.3s; /* Transição suave ao passar o mouse */
}

.btn-custom:hover {
    background-color: #000; /* Fundo preto ao passar o mouse */
    color: #fff; /* Letras brancas ao passar o mouse */
}

</style>
    

    
    <!-- ***** Product Area Starts ***** -->
    <section class="section pt-5" id="product"> <!-- Padding top adcionado devido a remoção do cabeçalho-->
             <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                    <div class="left-images">
                        <img src="{{product.product_image.url }}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4><input type="hidden" name='product_name' value="{{ product.product_name|safe }}">{{ product.product_name }}</h4>
                        <span class="price">$<input type="hidden" name='product_price' value={{ product.product_price }}>{{ product.product_price }}</span>
                        <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Descrição: {{ product.product_description }}</span>
                        <span>Peso líquido (em kg): {{ product.product_netweight }} </span>
                        <span>Peso bruto (em kg): {{ product.product_weight }} </span>
                        <span>Altura (em cm): {{ product.product_height }} </span>
                        <span>Largura (em cm): {{ product.product_width }} </span>
                        <span>Comprimento (em cm): {{ product.product_length }} </span>
                        <div class="row mt-4 d-flex justify-content-center">
                            <a class="btn btn-dark mx-2" href="../avaliar/{{ product.id }}"><i class="fa fa-star"></i></a>
                            <a class="btn btn-dark mx-2" href="../single-product/{{ product.id }}"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                        
                    </div>
                </div>
                
            
                
            </div>
            
            
            <div class="d-flex justify-content-center">
                <a href="/" class="btn btn-dark">Voltar</a>
            </div>
        
    </section>
    <!-- ***** Product Area Ends ***** -->
    
    

{% endblock %}


  
